<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hofman.motivation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hofman.motivation.MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name="com.hofman.motivation.ToDoActivity"
            android:label="@string/app_name"
            android:parentActivityName="MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.hofman.motivation.TodoDetailActivity"
            android:label="@string/todo_description" 
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        
        <provider
            android:name="com.hofman.motivation.todos.contentprovider.MyTodoContentProvider"
            android:authorities="com.hofman.motivation.todos.contentprovider" />
    </application>

</manifest>
